

.CT
{
    height: 150px;
    background-size: cover;
    border-radius: 100px;
}

.AB
{
    background-image: url("/images/Testimonials/AltafHussain.jpg");
    background-position: top;   
}

.FM
{
    background-image: url("/images/Testimonials/FahadMustafa.jpg");
}

.IK
{
    background-image: url("/images/Testimonials/ImranKhan.webp");
}

.BETSProducts
{
    margin-top: 300px;
}

.BPFS
{
    font-size: 20px;
}